.CharacterCard{	
	width: 100%;
	margin: .5rem 0;
	display: flex;
	align-items: center;
	border: 1px solid var(--color-gray-borders);
	padding: .5rem;
	box-sizing: border-box;
	background: rgba(255,255,255,.5);
	transition: all .3s ease;
	opacity: .8;
	box-shadow: 0px 5px 0 var(--color-gray-backgrounds);
}

.CharacterCard:hover{
	opacity: 1;
	background: rgba(255,255,255,1);
	box-shadow: 0px 5px 10px rgba(0,0,0,.2);
	transform: translateY(-5px);
}

.CharacterCard-image img{
	width: 100%;
	max-width: 80px;
	display: block;
}

.CharacterCard-info{
	display: flex;
	flex-direction: column;
	padding: .5rem;	
	flex: 1;
	align-self: stretch;
	justify-content: space-between;	
}

.CharacterCard-info span{
	font-size: .8rem;	
	display: block;
	color: var(--color-gray);
}

.CharacterCard-info b{
	font-style: italic;
}