:root{
	--color-white: #FFFFFF;
	--color-purple: #402F3F;
	--color-gray: #464646;
	--color-gray-backgrounds: #f7f7f7;
	--color-gray-borders: #F0F0F0;
	--color-green: #16a085;
}

*{
	font-family: 'Asap', sans-serif;
}

body, h1, h2 {
	margin: 0;
	padding: 0;  
}

.App{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100vw;
	min-width: 1000px;
	background: var(--color-gray-backgrounds);
}

.App-header{
	display: flex;
	height: 42px;	
	align-items: center;
	background: var(--color-purple);
	color: var(--color-white);
	box-sizing: border-box;
	padding: 0 1rem;
}

.App-header-title{	
	font-size: 1.25rem;
}

.App-characters{
	display: flex;
	flex: 1;
	box-sizing: border-box;
	padding: 2rem;
}