.CharacterList{	
	flex: 1;
	display: flex;
	flex-direction: column;
	margin: 0 2rem;
}

.CharacterList-title{
	text-transform: capitalize;	
}

.CharacterList-header{
	display: flex;
	width: 100%;	
	box-sizing: border-box;	
	margin-bottom: 2rem;
	flex-direction: column;
}

.CharacterList-header-info{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.CharacterList-count{
	font-size: .8rem;
	color: var(--colo-gray);
	opacity: .5;
	font-style: italic;
}

.CharacterList-search{
	display: flex;	
	border: 1px solid var(--color-gray-borders);
	border-radius: 5px;
	align-items: center;
	background: var(--color-white);
	margin: 1rem 0;
	padding: .2rem .5rem;
}

.CharacterList-search-icon{
	width: 30px;
    height: 30px;
    fill: #ACACAC;
}

.CharacterList-search-field{
	width: 100%;
	font-size: 1rem;	
	outline: none;
	padding: .5rem;
	color: var(--color-gray);
	border: none;
}

.CharacterList-characters{
	flex: 1;
	display: flex;
	flex-direction: column;
}

.CharacterList-actions{
	display: flex;
	justify-content: flex-end;
}

.CharacterList-actions-getMore{
	background: var(--color-green);
	color: var(--color-white);
	font-size: .8rem;
	border: none;
	padding: .5rem 1rem;	
	cursor: pointer;
	opacity: .8;	
	box-shadow: 0 5px 0 var(--color-gray-backgrounds);
	border-radius: .5px;
	outline: none;
	min-width: 186px;
	text-align: center;
	transition: all .3s ease;
}

.CharacterList-actions-getMore.disabled{
	cursor: default;
	pointer-events: none;
	opacity: .5;
}

.CharacterList-actions-getMore:hover{
	opacity: 1;	
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.CharacterList-actions-noMore{
	font-style: italic;
	color: var(--color-gray);
	opacity: .5;
	padding: .5rem 1rem;
	font-size: .8rem;
	text-align: right;
	display: block;		
}

